/* styles.css */

/* Reset default browser styles */
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #38b6ff;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header .logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.main {
    flex: 1;
}

.centered-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.install-button {
    display: inline-block;
    margin-top: 20px;
    background-color: #38b6ff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.install-button:hover {
    background-color: #2b92cc;
}

footer {
    background-color: #38b6ff;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    margin-top: auto;
}
