/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}

header {
    background-color: #38b6ff;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header .logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

footer {
    background-color: #38b6ff;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    margin-top: auto;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.intro,
.collect,
.how,
.sharing,
.security,
.rights,
.change,
.end {
    margin-bottom: 20px;
}

h2, h3 {
    color: #38b6ff;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    flex-direction: column;
    text-align: center;
}

.link-container {
    margin-top: 20px;
}

.link-container a {
    background-color: #38b6ff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.link-container a:hover {
    background-color: #2b92cc;
}
